<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>DRICT</title>
</head>
<body>

      <header class="header">
        <a href='/#now'><h1>DRICT</h1> </a>
        <nav>
          <a href="/lgoin">Login</a>
          <a href="/signup">Sign Up</a>
        </nav>
      </header>
      <div class="header_fix">qwerty</div>