<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>DRICT</title>
  </head>
  <body> 
    <header class="header">
     
      <nav>
        <a href="/"><h1>DRICT</h1> </a>
        <% if(!currentUser){ %>
        <p
          class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"
        >
          <a href="/login">Login</a>
        </p>
        <p
          class="<%= typeof page !== 'undefined' && page === 'signup' ? 'active' : '' %>"
        >
          <a href="/signup">Sign Up</a>
        </p>
        <% } else { %>
        <p><a href="#">Signed In As <%= currentUser.username %></a></p>
        <p><a href="/logout">Logout</a></p>
        <% } %>
      </nav>
    </header>
    <div class="header_fix">qwerty</div>
  </body>
</html>
