<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>DRICT</title>
  </head>
  <body>
    <header class="header">
      <a href="/"><h1>DRICT</h1> </a>
      <nav>
        <% if(!currentUser){ %>
        <li
          class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"
        >
          <a href="/login">Login</a>
        </li>
        <li
          class="<%= typeof page !== 'undefined' && page === 'signup' ? 'active' : '' %>"
        >
          <a href="/signup">Sign Up</a>
        </li>
        <% } else { %>
        <li><a href="#">Signed In As <%= currentUser.username %></a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
      </nav>
    </header>
    <div class="header_fix">qwerty</div>
  </body>
</html>
