<%- include('./partials/header') %>
<br><br><br><br><br><br><br><br><br>

<div class="login">Login</div>
<h1 class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</h1>
<form action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username"><br>
  <label for="password">Password</label>
  <input type="password"  name="password" id="password">
  <input type="submit" id="submit" value="Submit">
</form>

<%- include('./partials/footer') %>