<%- include('./partials/header') %>
  <br><br><br><br><br><br><br><br><br>

  <div class="login">Login</div>
  <h1 class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</h1>
  <form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username"><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <input type="submit" id="submit" value="Submit">
  </form>
    


  <section class="d-flex justify-content-center">
    <form style="width: 22rem">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="text" class="form-control">
        <label class="form-label text-success" for="form1Example1" style="margin-left: 0px;">Username</label>
      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" class="form-control">
        <label class="form-label  text-success" style="margin-left: 0px;">Password</label>
      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>
  
      <!-- Submit button -->
      <button style="width: 22rem" type="button" class="btn btn-success btn-block">Sign in</button>
    </form>
  </section>
  <%- include('./partials/footer') %>