<%- include('./partials/header') %>
<br><br><br><br><br><br><br><br><br>

<div class="login">Sign up</div>
<h1 class="eula">By signing up you agree to the ridiculously long terms that you didn't bother to read</h1>
<form action="/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" id="email"><br>
  <label for="password">Password</label>
  <input type="password" id="password">
  <input type="submit" id="submit" value="Submit">
</form>

<%- include('./partials/footer') %>