<%- include('./partials/header') %>

  <div class="login">Sign up</div>
  <div class="card">
    <div class="card-body">
      <h1 class="h1 text-success">By signing up you agree to the ridiculously long terms that you didn't bother to read
      </h1>
    </div>
  </div>
  <br><br><br>
  <section class="d-flex justify-content-center">
    <div class="card text-success bg-light mb-3">
      <div class="card-header">Sign up</div>
      <div class="card-body">
        <form action="/signup" method="POST" id="signup" style="width: 22rem">

          <input type="text" name="username" class="form-control">
          <label class="form-label text-success" style="margin-left: 0px;">Username</label>

          <input type="text" name="avatar" class="form-control avatar" placeholder="optional url..">
          <label class="form-label  text-success" name="avatar" style="margin-left: 0px;">Avatar</label>

          <input type="password" name="password" class="form-control">
          <label class="form-label  text-success" name="password" style="margin-left: 0px;">Password</label>

          <input type="submit" style="width: 22rem" class="btn btn-success btn-block" id="submit" value="Submit">
        </form>
  </section>
  <script src="js/avatar.js"></script>
  <%- include('./partials/footer') %>